{% extends "template.html" %}
{% block conteudo %}
    <div class="page-header bg-success">
      <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Editar Jogo</h1>
            <p class="lead">Sua lista de games.</p>
          </div>
        </div>
    </div>
    <form action="/jogoteca/criar" method="post">
      <fieldset>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" class="form-control">
        </div>
        <div class="form-group">
          <label for="categoria">Categoria</label>
          <input type="text" id="categoria" name="categoria" class="form-control">
        </div>
        <div class="form-group">
          <label for="console">Console</label>
          <input type="text" id="console" name="console" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        <a href="/"> <button class="btn btn-warning">Voltar</button> </a>
      </fieldset>
    </form>
{% endblock %}